<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="46950MichaelHall.TubeStar" Publisher="CN=0EA8F1E1-D073-4502-810B-6DD3763176E7" Version="1.0.0.11" />
  <Properties>
    <DisplayName>TubeStar</DisplayName>
    <PublisherDisplayName>Michael Hall</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TubeStar.App">
      <VisualElements DisplayName="TubeStar" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="YouTube simulation game" ForegroundText="dark" BackgroundColor="#F5F5F5">
        <DefaultTile ShowName="logoOnly" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#FFFFFF" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>